*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 700px;
    align-items:center;
    justify-content: center;
    background: linear-gradient(90deg, #ffffff, #c4c4c4);
    color: #333;
    display:grid;
}

.info{
    align-items:center;
    justify-content: center;
    display:grid;
    width: 400px;
    background: linear-gradient(90deg, #d6d6d6, #a9a9a9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: -3px -3px 20px rgba(47, 47, 47, 0.5);
}

p.data {
    background-color: #cecece;
    padding: 5px;
    display: contents;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

[data-theme="dark"] .info {
    background: linear-gradient(90deg, #3d3d3d, #191919);
  }

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    box-shadow: -10px -7px 30px rgba(47, 47, 47, 0.5);
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #b5b5b5;
    text-transform: none;
}

.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #34cdcda9;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #fff;
    background: #626262;
}

.search-box i{
    position: absolute;
    color: #343434;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 40%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #262626;
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #262626;
    font-size: 22px;
    font-weight: 500;
    text-transform:capitalize;
}

.weather-details{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    box-shadow: 0px 7px 5px #b6dddd;
    border-radius: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #262626;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #262626;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #262626;
    font-size: 12px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 20%;
}

.not-found p{
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.2s fadeIn forwards;
    animation-delay: 0s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button:hover {
    background: #666;
    box-shadow: 0 15px 20px #666;
    color: white;
    transform: translateY(-7px);
}

.theme-switch {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 999;
    opacity: 75%;
  }
  
  .theme-switch label {
    display: inline-block;
    width: 45px;
    height: 40px;
    background-color: #a2a2a2;
    border-radius: 10px;
    position: relative;
  }
  
  .theme-switch label::before {
    content: "🌙";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }
  
  
  .theme-switch input[type="checkbox"] {
    display: none;
  }
  
  .theme-switch input[type="checkbox"]:checked + label {
    background-color: #181818;
  }
  
  .theme-switch input[type="checkbox"]:checked + label::before {
    content: "☀️";
  }

  .theme-switch label::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }
  
  .theme-switch input[type="checkbox"]:checked + label::after {
    content: "☀️";
  }
  

  [data-theme="dark"] body {
    background: linear-gradient(90deg, #282828, #1f1f1f);
    color: #cbcbcb;
  }

  [data-theme="dark"] .floating-button {
    background: #b4b4b4;
  }

  [data-theme="dark"] .floating-button:hover {
    color:#242424;
    box-shadow: 0 15px 20px #616161;
    transform: translateY(-7px);
  }